<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
<br/>
========This is tab-panel 1==========<br/>

<form wicket:id="form">
<table>
	<tr><td>base url</td><td><input type="text" wicket:id="pid" size="50"/></td></tr>
	<tr><td>selectedPid</td><td><span wicket:id="selectedPid"></span></td></tr>
	<tr><td></td><td><input type="submit" value="Get recommendation" wicket:id="ajax-button"/></td></tr>
</table>
        </form>
		
</wicket:panel>
</html>
